//////////////////
///////BASE///////
//////////////////

//DESKTOP
.about {
    display: grid;
    grid-template-columns: 1fr repeat(10, fit-content(90px)) 1fr;
    grid-template-rows: auto auto 2.2fr 3fr .5fr;
    gap: 1em;


    
   
    &-title {
        grid-row: 2;
        grid-column: 8 / span 4;
        align-self: end;
        line-height: 1;
        font-size: 1.7rem;
        font-size: clamp(1.5rem, 3vw, 2.5rem);
    }

    &-text {
        padding: 2em 0 2em;
        align-self: center;
        grid-row: 3 / span 2;
        grid-column: 8 / span 4;
        font-weight: $thin;
        font-size: .9rem;
        font-size: clamp(.8rem, 1.5vw, 1.1rem);
        ul {
            margin: 0;
        }
        a {
            color: $primary;
            text-decoration: underline;
            transition: font-weight 300ms ease-in-out;
            &:hover {
                font-weight: $bold;
                //text-decoration: none;
            
                
            }
        }
    }
    &-img {
        width: 70%;
        grid-row: 2 / span 4;
        grid-column: 2 / span 6;
        border-radius: $soft-radius;
        align-self: center;
        
    }

    &-background {
        height: 100%;
        padding: 1em;
        z-index: -100;
        grid-row: 3 /span 2;
        grid-column: 1 / -1;
    }

    &-table-c2 {
        li {
            margin-left: 3em;
        }
    }
    &-btn {
        grid-column: 8;
        grid-row: 5;
        height: auto;
    }
        
    

    //MOBILE LAYOUT
    @media screen and (max-width: $break-point){
        grid-template-columns: minmax(1em, auto) fit-content(550px) minmax(1em, auto); //3
        grid-template-rows: repeat(6, auto);
        gap: .5em;
        &-title {
            grid-row: 2;
            grid-column: 2 !important;
            margin-bottom: 0;
            font-size: 1.7rem;
            font-size: clamp(1.5rem, 4.8vw, 2.2rem);
            
        }
        
        &-text {
            grid-row: 3;
            grid-column: 2 !important;
            font-size: 1rem;
            font-size: clamp(1rem, 3vw, 1.6rem);
            margin-top: 2em;
            padding: 0;
        }
        &-img {
            grid-row: 5 / span 2;
            grid-column: 2 !important;
            width: 80% !important;
            justify-self: center;
            margin: .8em 0 .5em;
            
        }
        &-background {
            grid-row: 3 / span 3;
        }
        &-btn {
            grid-column: 2 !important; 
            grid-row: -1;
            justify-self: center;
            
            
        }
 
    }
}

//////////////////
////technical/////
//////////////////

.right-left {
    color: white;
    .about {
        &-title{
            color: $primary;
        }
        &-background {
            background: $primary;
            clip-path: $r-l;
        }
        &-img {
            border: 5px solid $primary;
            
        }
    }
}



//////////////////
/////personal/////
//////////////////


.left-right {
    .about {
        
        &-title{
            color: $secondary;
            grid-column: 2 / span 4; 
        }
        &-subtitle {
            grid-column: 7 / span 4;
        }
        &-text {
            grid-column: 2 / span 6;
          /*   br {
                margin-bottom: .7em;
            }    */  
        }
        &-img {
            width: 100%;
            grid-column: 8 / span 4;
            border: 5px solid $secondary;
        }
        &-background {
            background: $secondary;
            clip-path: $l-r;
        }
        &-btns {
            grid-column: 7 / span 4;
        }
    }
}







    
    