.contact {
    display: grid;
    grid-template-columns: minmax(1em, auto) fit-content(550px) minmax(1em, auto); //3    grid-template-rows: repeat(3, auto);
    grid-template-rows: auto auto;
    &-card {
        position: relative;
        grid-column: 2;
        grid-row: 2;
        padding: 2em;
        width: 100%;
        background-color: $accent;
        border-radius: $soft-radius;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
    }

    &-btn {
        display: block;
        
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-input-control {
            border: none;
            border-radius: 4px;
            padding: 6px;
            font-size: 1rem;
            font-family: $para;
            color: $primary;
            outline: none;
            box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .7);
        }
        label {
            display: block;
            color: white;
            font-family: $title;
            margin-bottom: .5em;
            font-size: 1.2rem;
        }
        &-row-1 {
            display: flex;
            justify-content: center;
            margin-bottom: 1.5em;
            
        }
        input {
            display: block;
            max-width: 20rem;
            width: 33vw;
            
        }
        &-email {
            margin-left: 1em;
        }
        &-message {
            width: 100%;
        }
        textarea {
            width: 100%;
            border-radius: 8px;
            resize: none;
            overflow: auto;
            
        }
        &-btn {
            position: absolute;
            bottom: -50px;
            

        }
        
    }
    //PHONE
    @media screen and (max-width: $break-point){
        .form {
            &-row-1 {
                flex-direction: column;
            }
            &-email {
                margin-left: 0;
            }
            input {
                max-width: 100%;
                width: 70vw;
            }
        }
        
    }

}
