

.footer {
    // DESKTOP
    
    display: grid;
    grid-template-columns: minmax(1em, auto) 44rem minmax(1em, auto);
    @media screen and (min-width: 65em) {
        grid-template-columns: minmax(1em, auto) 62rem minmax(1em, auto);
        .footer-nav {
            top: 1.55rem;
        }
    }
    grid-template-rows: 1.6rem 10rem;
    position: relative;
    color: white;

    br {
        height: 1rem;
        width: 1rem;
    }

    a {
        transition: color 300ms ease-in-out;
    }
    a:hover {
        color: $accent;
    }
    .fab {
        display: none;
    }
    
    &-container{
        grid-column: 2;
        grid-row: 2;
        padding-top: 3.5rem;
        margin-bottom: -3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-author, &-links, &-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.8;
    }

    &-contact {
        margin-bottom: 2rem;
        span {
            font-weight: $thin;
        }
    }
    &-author {
        font-weight: $thin;
        margin-bottom: -1.5rem;
    }
    &-links {
        margin-bottom: .7rem;
        text-align: center;
        font-size: .9rem;

        img {
           margin-bottom: .8rem;
           width: 80px;
           height: 44px;
        }
    }
    &-bg {
        background-color: $primary;     
        grid-column: 1 / -1;
        grid-row: 2;
        z-index: -100;
        transform: skewY(-4deg);
        width: 100%;
    }

    &-bg-2 {
        background-color: $primary;  
        grid-column: 1 / -1;
        grid-row: 2;
        transform: translateY(70px);
        z-index: -100;
    }

    &-nav {
        grid-row: 1;
        grid-column: 2;
        position: absolute;
        display: inline-block;
        top: .95rem;
        transform: rotate(-4deg);
        
        a {
            position: relative;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: $bold;
            color: $primary;
            margin-right: 1.3rem;
            line-height: 1;
            transition: color 300ms ease-in-out, transform 300ms ease-in-out;
            &:hover {
                color: $accent;
                transform: translateY(-8px) scale(1.05);
                
            }
        }
    }

    //MOBILE
    @media screen and (max-width: $break-point){
        grid-template-columns: minmax(1em, auto) fit-content(550px) minmax(1em, auto);
        grid-template-rows: auto auto;

        
            &-nav{
                display: none;
            }
            &-links {
                order: 1;
                margin: 0;
                display: inline-block;
                .fab {
                    display: inline-block;
                    font-size: 2rem;
                    margin: 0 .6rem 1rem;
                }
                &-text {
                    display: none;
                }
                img {
                    display: none;
                }
            }
            &-contact {
                order: 1;
                margin: 0;
                text-align: center;
                .desk-only{display: none;}
            }
            &-author {
                text-align: center;
                order: 3;
                margin: 1rem 0 0;
                font-size: .7rem;
                color: $soft;
                
            }
            &-container {
                flex-direction: column;
                margin: 0;
                padding: 2.5rem 0 1rem;
            }

            &-bg {
                clip-path: polygon(0 0, 100% calc(0% + 3vw), 100% 100% , 0 100%);
                transform: rotate(0deg);
                width: 100%;
                height: 100%;
            }

            &-bg-2 {
                display: none;
            }

    }
    
}