///colors
$primary: #010038;
$secondary: #2E9099;
$accent: #F39422;
$soft: #DEF5F7;
$primary-lighter: #4d4d74;
$primary-light: #676688;


///fonts
$title: 'Baloo Chettan 2', cursive;
$para: "Roboto", sans-serif;

$bold: 700;
$reg: 400;
$light: 300;
$thin: 100;

///background shapes
$r-l: polygon(0 0, 100% calc(0% + 3vw), 100% calc(100% - 3vw), 0 100%);
$l-r: polygon(0 calc(0% + 3vw), 100% 0, 100% 100%, 0 calc(100% - 3vw));

// screen
$break-point: 46em;

//cards
$soft-radius: 40px;